nav li {
	display: inline;
	text-decoration: none;
	text-transform: uppercase;
	margin: 0, 25px, 0, 25px;
	padding-right: 5%;
	
}
nav {
	width: 940px;

}

nav a{
	font-weight: lighter;
	font-size: 35px;
	text-decoration: none;
	color: black;
}

nav a:hover {
	color: beige;
	text-decoration: underline;
}


#banner{
 	width: 100%;
 }


body {
	background: purple;
	text-align: center;
	margin: 0;
	padding: 0;
}


h1 {
	text-align: center;
}

p {
	text-align: center;
}


